.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 17), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(calc(100% / 17), 1fr));
    gap: 1px;
    aspect-ratio: 1 / 1;
    width: 70%;
    user-select: none;
}

.axis {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1vw + 1vh);
    user-select: none;
}

.arrow-container {
    flex: 1;
    position: relative;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container img {
    width: 90%;
}