.board {
    width: min(90vw, 70vh);
    height: min(90vw, 70vh);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    user-select: none;
    aspect-ratio: 1/1;
}

.axis {
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    user-select: none;
}