.player-stat-container {
    text-align: left;
}

.player-stat {
    padding: 5px;
    border-radius: 5px;
}

.player-win-draw-lose {
    display: flex;
    flex-direction: row;
}

.player-win-draw-lose .player-stat {
    margin: 0 5px;
}