.play-container {
    background-color: #472238;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.play-controller {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 10px 5px 10px;
    padding: 10px;
    align-items: center;
    /* justify-content: center; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait) {
    .play-controller {
        width: 90vw;
    }
}

@media (orientation: landscape) {
    .play-controller {
        height: 100vh;
    }
}

.play-controller .board {
    margin-bottom: 5px;
}

.play-controller .challenge-timer {
    margin-top: 5px;
}

.play-controller-active {
    width: min(90vw, 70vh);
    padding: 10px;
}

.play-controller-buttons {
    width: min(90vw, 70vh);
    display: flex;
    flex-direction: row;
}

.play-controller-buttons button {
    text-transform: uppercase;
    margin: 1px;
    flex: 1;
    padding: 7px;
    color: #fff;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 12px;
}

.play-controller .challenge-timer {
    color: white;
    margin: 10px;
    text-transform: uppercase;
}

.play-info {
    height: 100vh;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.players-info {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.players-header {
    border-bottom: 1px solid white;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
}

.modal-header {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.modal-content {
    width: 50%;
    background-color: #472238;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    animation-name: modal-appear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    text-align: center;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.modal-buttons button {
    text-transform: uppercase;
    margin: 1px;
    flex: 1;
    padding: 7px;
    color: #fff;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 12px;
}

@keyframes modal-appear {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}