.registration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #472238;
    user-select: none;
}

.registration-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5%;
}

.registration-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #f6f1e3;
}

.registration-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.registration-content input {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.registration-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registration-buttons-container button {
    flex: 1;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #472238;
    background-color: #af7e89;
    color: #f6f1e3;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.registration-buttons-container button:hover {
    background-color: #d29c4f;
    color: #472238;
}