.room-container {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.room-header {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.room-content-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.room-info-item {
    text-align: center;
}

.room-info-item span {
    background-color: #d29c4f;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;
}

.room-content button {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(47, 22, 38, 0.5);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out
}

.room-content button:hover {
    background-color: #d29c4f;
}

.players-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.players-container .player {
    background-color: #d29c4f;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}