.wait-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #472238;
    user-select: none;
}

.wait-content {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5%;
    color: white;
}

.wait-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #f6f1e3;
}

.wait-parameter {
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #7f6b7c;
    border-radius: 5px;
    padding: 10px 20px;
}

.wait-parameter span {
    background-color: #d29c4f;
    border-radius: 5px;
    padding: 0 5px;
}

.wait-parameter .player {
    background-color: #d29c4f;
    border-radius: 5px;
    padding: 0 5px;
}

.wait-buttons {
    display: flex;
    flex-direction: column;
}

.wait-buttons button {
    background-color: #7f6b7c;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #999;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s
}

.wait-buttons button:hover {
    background-color: #d29c4f;
    color: #472238;
    border-color: #af7e89;
}