.tile {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    user-select: none;
    background-color: black;
    color: white;

}

.selected {
    background-color: yellow;
    color: black;
}

.letter {
    font-size: calc(1vw + 1vh);
    text-align: center;
}

.value {
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: calc(0.9vw + 0.9vh);
}